/CVDMachineLearning.code-workspace
/TestImages
/TrainingDataset
ZipFiles/TestImages.zip
ZipFiles/TrainingDataset.zip
ZipFiles/OLDTestImages.zip
ZipFiles/OLDTrainingDataset.zip
/Saves
/SavesModel0
/SavesModel1
/SavesModel2
/SavesModel3
/SavesModel4
/SavesModel5
/SavesModel6


